<% include ./partials/boilerplate.ejs %>
<% include ./partials/nav.ejs %>
<div class="chat-row row"></div>
  <div class="chat-container col-xs-12">
  <ul class="messages" id="messages"></ul>
  </div>

  <div class="input-container col-xs-12">
    <form class="input-form" action="">
      <input class="chat-box" id="m" autocomplete="off" /><button class="chat-button" id="sendButton">Send</button>
    </form>
  </div>
  </div>
</div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../static/chat.js"></script>
<% include ./partials/end.ejs %>