<% include ./partials/boilerplate.ejs %>
<div class="chat-div">
<ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button id="sendButton">Send</button>
  </form>
</div>

<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../static/chat.js"></script>
<% include ./partials/end.ejs %>