<% include ./partials/boilerplate.ejs %>
<ul class="pages">
  <li class="form">
    <div class="form-div">
      <form action="">
        <p>FIRST NAME</p>
        <input type="text" name="firstname" id="firstname"/>
        <p>COUNTRY</p>
        <input type="text" name="country" id="country"/>
        <p>PRIMARY LANGUAGE</p>
        <select name="language">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="de">German</option>
          <option value="it">Italian</option>
        </select>
        <input type="submit" value="GET STARTED">
      </form>
    </div>
  </li>
  <li class="chat">
    <div class="chat-div">
      <h3>chat</h3>
    </div>
  </li>
</ul>
<% include ./partials/end.ejs %>