<% include ./partials/boilerplate.ejs %>
<div class="form-div">
  <form method="POST" action="/" id="chatForm">
    <p>FIRST NAME</p>
    <input type="text" name="firstname" id="firstname" value""/>
    <p>COUNTRY</p>
    <input type="text" name="country" id="country" value=""/>
    <p>PRIMARY LANGUAGE</p>
    <select name="language" id="language">
      <option value="en">English</option>
      <option value="es">Spanish</option>
      <option value="de">German</option>
      <option value="it">Italian</option>
    </select>
    <button type="submit" value="GET STARTED" id="submitButton">SUBMIT</button>
  </form>
</div>
<!-- SCRIPTS -->
<script src="../static/main.js"></script>
<% include ./partials/end.ejs %>